<div class="container main-content academic">
	<h1>ছাত্রছাত্রীদের পোশাক কোড</h1>
	<hr>
	<div class="row">
		<dir class="col-sm-10 col-sm-offset-1">
			<p><?php echo $general_data['General']['dress_code']; ?></p>	
		</dir>
	</div>
</div>