<div class="container main-content game">
	<h1>Games</h1>
	<hr>

		<?php foreach ($games as $key => $item) { ?>
			<div class="col-sm-3 col-xs-4 games">
				<a href="<?php echo $item['Link']['link'];?>" target="_blank">
					<?php if(!empty($item['Link']['image'])) { ?>
						<p><?php } echo $item['Link']['name']; ?></p>
						<img src="<?php echo $this->webroot.'files/link_photos/'.$item['Link']['image']; ?>" height="200px" width="200px">
				</a>
			</div>
		<?php } ?>
</div>