<div class="container main-content academic">
	<h1>অভিভাবকদের নির্দেশিকা</h1>
	<hr>
	<div class="row">
		<dir class="col-sm-10 col-sm-offset-1">
			<p><?php echo $general_data['General']['for_guardian']; ?></p>	
		</dir>
	</div>
</div>